<h1>Message Board</h1>

<ul>
  {{#each}}
    <li>{{#link-to 'question' this.id}}{{question}} - {{author}}{{/link-to}}</li>
  {{/each}}
</ul>

<p>
  {{#link-to 'new-question' classNames="btn btn-primary"}}Ask a New Question{{/link-to}}
</p>
